.saved-header {
 display: flex;
 flex-direction: column;
 gap: 28px;
 background-color: var(--bg-white);
 padding-top: calc(107px + 40px);
 padding-left: 104px;
 padding-bottom: 56px;
}

@media screen and (max-width: 768px) {
 .saved-header {
  padding-top: calc(92px + 24px);
  padding-left: 40px;
  padding-bottom: 32px;
  gap: 16px;
 }
}

@media screen and (max-width: 425px) {
 .saved-header {
  padding-top: calc(74px + 8px);
  padding-left: 16px;
  padding-right: 16px;
 }
}
