.footer__links {
 display: flex;
 gap: 35px;
}

.footer__links a {
 font-family: 'Roboto', sans-serif;
 font-size: 18px;
 font-weight: 400;
 line-height: 24px;
 text-decoration: none;
 color: #1a1b22;
 transition: all 0.3s ease;
}

.footer__links a:hover {
 color: #2f71e5;
 text-decoration: underline;
}

@media screen and (max-width: 425px) {
 .footer__links {
  flex-direction: column;
  width: 70%;
 }
}
