.header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 30px 104px 26px 104px;
 position: fixed;
 width: 100%;
 z-index: 10;
 transition: background-color 0.3s ease;
}

.header__home {
 border-bottom: 1px solid rgba(255, 255, 255, 0.3);
 backdrop-filter: blur(10px);
 background-color: var(--bg-transparent);
}

.header__saved {
 border-bottom: 1px solid rgba(0, 0, 0, 0.2);
 background-color: var(--bg-white);
}

.header__scroll-active {
 background-color: rgba(0, 0, 0, 0.7);
 transition: background-color 0.3s ease;
}

@media screen and (max-width: 1024px) {
 .header {
  padding: 22px 40px 19px 40px;
 }
}
