:root {
 --color-white: #ffffff;
 --color-black: #1a1b22;
 --bg-transparent: transparent;
 --bg-white: #fff;
 --bg-black: #1a1b22;
}

/* fonts */
@font-face {
 font-family: 'Inter';
 src: url('./vendor/fonts/inter-400-regular.woff') format('woff'), url('./vendor/fonts/inter-400-regular.woff2') format('woff2');
 font-weight: 400;
}

@font-face {
 font-family: 'Inter';
 src: url('./vendor/fonts/inter-500.woff') format('woff'), url('./vendor/fonts/inter-500.woff2') format('woff2');
 font-weight: 500;
}

@font-face {
 font-family: 'Roboto';
 src: url('./vendor/fonts/roboto-400-regular.woff') format('woff'), url('./vendor/fonts/roboto-400-regular.woff2') format('woff2');
 font-weight: 400;
}

@font-face {
 font-family: 'Roboto';
 src: url('./vendor/fonts/roboto-500.woff') format('woff'), url('./vendor/fonts/roboto-500.woff2') format('woff2');
 font-weight: 500;
}

@font-face {
 font-family: 'Roboto';
 src: url('./vendor/fonts/roboto-700.woff') format('woff'), url('./vendor/fonts/roboto-700.woff2') format('woff2');
 font-weight: 700;
}

@font-face {
 font-family: 'Roboto';
 src: url('./vendor/fonts/roboto-900.woff') format('woff'), url('./vendor/fonts/roboto-900.woff2') format('woff2');
 font-weight: 900;
}

@font-face {
 font-family: 'Roboto Slab';
 src: url('./vendor/fonts/roboto-slab-400-regular.woff') format('woff'), url('./vendor/fonts/roboto-slab-400-regular.woff2') format('woff2');
 font-weight: 400;
}

@font-face {
 font-family: 'Roboto Slab';
 src: url('./vendor/fonts/roboto-slab-700.woff') format('woff'), url('./vendor/fonts/roboto-slab-700.woff2') format('woff2');
 font-weight: 700;
}
/* fonts end */

/* normalize */
@import url('./vendor/mynormalize.css');
/* normalize end */

/* header */
@import url('./blocks/header/header.css');
@import url('./blocks/header/__title/header__title.css');
@import url('./blocks/header/__wrapper/header__wrapper.css');
@import url('./blocks/header/__link/header__link.css');
@import url('./blocks/header/__button/header__button.css');
@import url('./blocks/header/__checkbox/header__checkbox.css');
/* header end */

/* overlay */
@import url('./blocks/overlay/overlay.css');
/* overlay end */

/* topbar */
@import url('./blocks/topbar/topbar.css');
/* topbar bottom */
@import url('./blocks/topbar-bottom/topbar-bottom.css');
@import url('./blocks/topbar-bottom/__button/topbar-bottom__button.css');
@import url('./blocks/topbar-bottom/__link/topbar-bottom__link.css');
/* topbar bottom end */
/* topbar top  */
@import url('./blocks/topbar-top/topbar-top.css');
@import url('./blocks/topbar-top/__wrapper/topbar-top__wrapper.css');
@import url('./blocks/topbar-top/__link/topbar-top__link.css');
/* topbar top end */
/* topbar end */

/* hero */
@import url('./blocks/hero/hero.css');
@import url('./blocks/hero/__wrapper/hero__wrapper.css');
@import url('./blocks/hero/__title/hero__title.css');
@import url('./blocks/hero/__subtitle/hero__subtitle.css');
/* hero end */

/* search */
@import url('./blocks/search/search.css');
@import url('./blocks/search/__input/search__input.css');
@import url('./blocks/search/__button/search__button.css');
@import url('./blocks/search/__error/search__error.css');
/* search end */

/* card list */
@import url('./blocks/card-list/card-list.css');
/* card list end */

/* cards */
@import url('./blocks/card/card.css');
@import url('./blocks/card/__body/card__body.css');
@import url('./blocks/card/__author/card__author.css');
@import url('./blocks/card/__date/card__date.css');
@import url('./blocks/card/__description/card__description.css');
@import url('./blocks/card/__icons/card__icons.css');
@import url('./blocks/card/__image/card__image.css');
@import url('./blocks/card/__title/card__title.css');
@import url('./blocks/card/__tooltip/card__tooltip.css');
@import url('./blocks/card/__wrapper/card__wrapper.css');
@import url('./blocks/card/__inner/card__inner.css');
/* cards end */

/* about */
@import url('./blocks/about/about.css');
@import url('./blocks/about/__text/about__text.css');
@import url('./blocks/about/__heading/about__heading.css');
@import url('./blocks/about/__paragraph/about__paragraph.css');
@import url('./blocks/about/__image/about__image.css');
/* about end */

/* popup */
@import url('./blocks/popup/popup.css');
@import url('./blocks/popup/__title/popup__title.css');
@import url('./blocks/popup/__text/popup__text.css');
@import url('./blocks/popup/__label/popup__label.css');
@import url('./blocks/popup/__input/popup__input.css');
@import url('./blocks/popup/__inner/popup__inner.css');
@import url('./blocks/popup/__group/popup__group.css');
@import url('./blocks/popup/__form/popup__form.css');
@import url('./blocks/popup/__error/popup__error.css');
@import url('./blocks/popup/__close/popup__close.css');
@import url('./blocks/popup/__button/popup__button.css');
@import url('./blocks/popup/__wrapper/popup__wrapper.css');
/* popup end */

/* preloader */
@import url('./blocks/preloader/preloader.css');
@import url('./blocks/preloader/__circle/preloader__circle.css');
@import url('./blocks/preloader/__text/preloader__text.css');
/* preloader end */

/* NotFound */
@import url('./blocks/notfound/notfound.css');
/* 404 */
@import url('./blocks/notfound-404/notfound-404.css');
@import url('./blocks/notfound-404/__title/notfound-404__title.css');
@import url('./blocks/notfound-404/__text/notfound-404__text.css');
@import url('./blocks/notfound-404/__paragraph/notfound-404__paragraph.css');
@import url('./blocks/notfound-404/__button/notfound-404__button.css');
/* 404 end */
/* card */
@import url('./blocks/notfound-card/__icon/notfound-card__icon.css');
@import url('./blocks/notfound-card/__subtitle/notfound-card__subtitle.css');
@import url('./blocks/notfound-card/__title/notfound-card__title.css');
/* card end */
/* NotFound end */

/* saved-header */
@import url('./blocks/saved-header/saved-header.css');
@import url('./blocks/saved-header/__description/saved-header__description.css');
@import url('./blocks/saved-header/__subtitle/saved-header__subtitle.css');
@import url('./blocks/saved-header/__title/saved-header__title.css');
/* saved-header end */

/* footer */
@import url('./blocks/footer/footer.css');
@import url('./blocks/footer/__wrapper/footer__wrapper.css');
@import url('./blocks/footer/__icons/footer__icons.css');
@import url('./blocks/footer/__links/footer__links.css');
@import url('./blocks/footer/__copyright/footer__copyright.css');
/* footer end */
