.footer {
 padding: 32px 104px 26px;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

@media screen and (max-width: 768px) {
 .footer {
  padding: 24px 40px 18px;
 }
}

@media screen and (max-width: 425px) {
 .footer {
  padding: 20px 16px;
  flex-direction: column;
  align-items: start;
  gap: 25px;
 }
}
